.Drugs{
    width: 100%;
    height: 50%;
}
body{
    background-image: url(https://i0.wp.com/californiawaterblog.com/wp-content/uploads/2023/09/CA-wet.jpg?resize=1024%2C576&ssl=1);
}
main{
    background-color: darkviolet;
}
footer{
    background-image: url(https://i0.wp.com/californiawaterblog.com/wp-content/uploads/2023/09/CA-wet.jpg?resize=1024,576&ssl=1);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
}
.bob{
color: azure;
}
.GOAT{
    width: 500px;
    height: 500px;
}